/* Font style */

@font-face {
    font-family: 'aileronlight';
    src: url('aileron-light-webfont.woff2') format('woff2'),
         url('aileron-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$gold: goldenrod;
$kavi: rgb(217, 135, 117);

.navbar {
    font-family: 'aileronlight';
}

.gold {
    color: $gold;
}

.kavi {
    color: $kavi;
}
/* Uttarann logo*/
.uttarann {
    font-family: 'Playball', cursive;
    color: $gold;
}

.heading {
    font-family: 'Nanum Myeongjo';
    margin: 1em 1em;
}

/* Font style end */

/* Spinner */
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-grow {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  animation: spinner-grow 2s linear infinite;
  }

/* Spinner end */

/* Navbar */

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: $kavi;
}

.navbar {
    margin-bottom: 1em;
}

/* Navbar end */


/* Carousel */
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
/* Carousel end */

/* Read more */

a.kavi:hover {
    color: gold;
}

/* Read more end*/

/* Line */

div.line {
    max-height: 4em;
    width: 100%;
    border-top: 1px solid $gold;
    margin-top: 2em;
    margin-bottom: 1em;
}

/* Line end */

/* Footer */

.footer {
    font-size: 0.8em;
    min-height: 200px !important;
    width: 100%;
    background-color: goldenrod;
    padding: 2em;
    color: #fafdcb;
    text-shadow: 2px 2px 5px darkgoldenrod;
}

/* Footer end */
